.App {
  text-align: left;
  padding: 2% 4%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Issues {
  font-size: 12px;
}

.Issues > ul {
  list-style: none;
  padding: 0;
}

.Issues > ul > li {
  margin-bottom: 15px;
}

.Issues > ul > li > a {
  font-size: 15px;
}

.Issues > ul > li > div {
  margin-top: 5px;
}

.issueComments {
  font-size: 11px;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #eee;
}


